html {
	background-image: url("../images/grass.jpg");	
	background-repeat: repeat-x;
	background-size: 49%;

}
body  {
	font-family: timesnewroman, 'timesnewroman', times, baskerville, georgia, serif;
	max-width: 960px;
	width: 95%;                        /* fixed width was 800 */
	background-image: -webkit-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -moz-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -o-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
	margin: 5px auto; 
	padding: 0;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header {
    background-image: -webkit-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -moz-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -o-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    padding: .9375em 1.875% .9375em 1.875%;  /* 15 / 16; 15 / 800 x 100 */
} 
header img { 
	float: left; 
	padding-right: 1.875%;               /* 15 / 800 x 100 */  
	width: 10.6%;
	max-width: 85px;
	min-width: 40px;
} 
header h2 {	
	font-family: 'Merriweather', cursive;
	font-size: 230%;
	margin-left: 250px;
}
header h3 {
	font-size: 160%;
	padding-bottom: .75em;
	margin-left: 330px; 
}

/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
#nav_menu ul li {
	flex-basis: 25%;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li a {
	text-align: center;
	font-size: 110%;
	display: block;
	padding: .7em 0;
	text-decoration: none;
	border-style: solid;
	border-width: 2px 1px 2px 1px;
	border-color: black;
	color: black;
}
#nav_menu ul li a.current {
	font-weight: bold;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-image: -webkit-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -moz-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -o-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
}

main {
	display: flex;
	flex-direction: column;
}

/* Article */

article {
	flex-basis: 100%;                       
	padding: 1.25em 20% 1.25em 20%;
	order: 1;
}

article h1 { 
	font-size: 140%;
	margin-bottom: .5em;
	margin-left: 1em;
	margin-right: 1em;
}

article img {
	width: 60%;
	max-width: 300px;
	padding: .5em;
	float: right;
}
article p {
	padding: 0;
	Margin: 0;
}

/* the styles for the table */
figure {
	margin-top: .5em;
	margin-left: 0;
}
figcaption {
	color: black;
}

/* Table */
table {
	border-collapse: collapse;
	width: 90%;                       
	margin: 1em 1em 1em 3em;
	}
thead {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
tfoot {
	border-top: 2px solid black;
}
th, td {
	padding: .2em 1em;
	text-align: left;
}
tfoot th, tfoot td {
	text-align: right;
	font-weight: bold;
}
.border_bottom {
	border-bottom: 2px solid black;
}
#nav_table {
		order: 2;
	}
#mobile_table {
		display: none;
}
#accordion div {
	overflow: hidden;
	height: 0;
	transition: height .5s ease-in-out;
	-webkit-transition: height .5s ease-in-out;
}
#accordion div:target {
	height: 120px;
}
	
/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: .9375em 1.875% .9375em 1.875%;       /* top and bottom: 15 / 16; right and left: 15 / 800 x 100 */
	background-image: -webkit-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -moz-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: -o-linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
    background-image: linear-gradient(90deg, white 0%, deepskyblue 50%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 800px) {
	html {
		background-image: none;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	#nav_table {
		display: none;
	}
	#mobile_table {
		display: block;
		order: 2;
	}
	header h2 {
		font-size: 200%;
		margin-left: 0px;
	}
	header h3 {
		margin-left: 0px;
	}
	article h1 {
		font-size: 120%;
	}
}

@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 110%;
	}
	article h1 {
		margin: 0 -3em;
	}
}

label, input, select {
	font-size: 90%;
}
label {
    float: left;
    width: 6em;
    text-align: right;
}
input, select {
    width: 28em;
    margin-left: 1em;
    margin-bottom: .5em;
}
input:required, input[required] input:invalid {
	border: 2px solid lightgray;
}
input:valid {
	border: 2px solid lightgray;
}